<html>
<head>
    <title>Welcome to Ansible</title>
</head>
<body>
    <h1><span style="color: rgb(18, 99, 18);">Nginx</span>, configured by Ansible using Roles</h1>
    <p>If you can see this, Ansible successfully installed Nginx.</p>
    <h3>Created by {{ maintainer }}.</h3>
</body>
</html>
