<!DOCTYPE html>
<head>
    <title>Ansible Demo</title>
    <style>
        h3 {
            color: white;
        }
        div {
            background-color: rgb(10 29 42);
        }
    </style>
</head>
<body style="background-color: rgb(83 184 172);">
    <h2>Hello, Deployed by Ansible and Jinja2 on <i style="color: {{ color }};">{{ now() }}</i></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus libero
    libero, a mattis libero luctus ac. Pellentesque consectetur scelerisque quam at laoreet.</p>
    <div>
        <h2>Jinja2 filters</h2>
        <h3>{{ 'ansible' | to_uuid }}</h3>
        <h3>{{ 'Trollhättan his/he and:char' | urlencode }}</h3>
        <h3>Generated random number: {{ 1000 | random }}</h3>
        <h3>passwordsaresecret to {{ 'passwordsaresecret' | password_hash('sha256') }}</h3>
        <h3>passwordsaresecret to (md5) {{ 'passwordsaresecret' | hash('md5') }}</h3>
        <h3>Sorted list = {{ list_ele | unique | sort }}</h3>
        <h3>Subnet mask from ip prefix = {{ ip_addr | ipaddr('network/prefix')}}</h3>

        <h3>Loop example </h3><br>
        {% for host in groups['all'] %}
        <h3>{{ host }}</h3>
        {% endfor %}

        <h3>Lookup plugins with Jinja2</h3>
        <h3>{{ query('dig', 'ymail.com', 'qtype=MX') }}</h3>

    </div>
</body>
