# sample /etc/resolv.conf.

{% if resolv_info['namesrv'] is not defined %}
nameserver 8.8.8.8
{% else %}
{% for ns in resolv_info['namesrv'] -%}
nameserver {{ ns }}
{% endfor %}
{% endif -%}

options {{ resolv_info['opts'] | default(omit) }}
search {{ resolv_info['domain'] | default('.')}}
