<VirtualHost *:80>
    DocumentRoot {{ site_location }}
    <Directory {{ site_location }}>
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory {{ site_location }}/wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>
